:root {
    --nbl-lmg: 20px;
    --height-header: 110px;
    --height-header-text-introduct: 50px;
    --height-header-navbar: calc(var(--height-header) - var(--height-header-text-introduct));

}

.mg40-0 {
    margin: 40px 0;
}

.ti-facebook {
    background-color: #0c87ef;
    color: #fff;
}

.ti-instagram {
    color: #fff;
    font-size: 2.8rem;
    padding: 3px;
    border-radius: 20%;
    background: radial-gradient(at top left, #8A3AB9, #E95950, #BC2A8D, #FCCC63, #FBAD50, #CD486B, #4C68D7);
}

.ti-email {
    color: #fff;
    font-size: 2.8rem;
    padding: 0 3px;
    border-radius: 10%;
    background-color: #fb6767;
}

::-webkit-scrollbar {
    background-color: #fff;
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 4px;
}


.infor-item__name-price {
    padding: 8px 18px;
    font-size: 1.6rem;
}

.infor-item__name {
    font-weight: 600;
    margin: 10px 0;
    color: #000;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.infor-item__price {
    color: #665c49;
}

.addcss-y:hover {
    cursor: pointer;
    transition: transform ease 0.3s;
    transform: translateY(-4px);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}